body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    background: url(./img/Digital\ Art\ Alive\ \(1\).jpeg);
    width: 100%;
    position: fixed;
}

.first-sec{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span {
    position: relative;
    width: 15px;
    height: 15px;
    background: #feffff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 
    0 0 20px #feffff,
    0 0 60px #feffff,
    0 0 100px #feffff;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background:#302dff;
    box-shadow:
    0 0 20px #302dff,
    0 0 60px #302dff,
    0 0 100px #302dff;
}
@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
/* --------------carsor------------ */

.cursor{
    z-index: 999;
    position: fixed;
    background:#e82626;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
    pointer-events: none;
    box-shadow: 0 0 20px #e82626,
                0 0 60px   #e82626,
                0 0 100px #e82626;
    animation: colors 5s infinite;            
}
@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
/* .carsor:before{
content: '';
position:absolute;
background: #e82626;
width: 50px;
height: 50px;
opacity: 0.2;
transform: translate(-30%,-30%);
border-radius: 50%;
} */
/* ---------preloader---------- */
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgb(0, 0, 0) url(./img/preloading.gif) no-repeat center center;
   background-size: 10%;
    z-index: 100;
}
/* .spinner{
    width: 80px;
    height: 80px;
    border: 10px solid red;
    border-radius: 50%;
    border-top: 10px solid white;
    animation : spin 5s linear infinite
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
} */
/* ------------------Navbar----------- */

.nav-link{
    color:white;
}
.logo{
    width: 120px;
    height: 120px;
    margin-left: 5vw;
    margin-top: 2vw;
}
.nav-btn{
    width: 180px;
    height: 30px;
    border-radius: 50px;
  
    background-color: transparent;
    border: 2px solid white;
    color:white;
}
.navbtn{
   display: flex;
   justify-content: end;
   margin-left: -5vw;
   margin-top: 4vw;
}
/* .circle{
    width: 15px;
    height: 15px;
    background:#4deb04;
    border-radius: 50%;
    box-shadow:
    0 0 20px #302dff,
    0 0 60px #302dff,
    0 0 100px #302dff;
            
} */
.navbarlg {
    border: 2px solid white;
    width: 500px;
    border-radius: 50px;
    margin-left: 35%;
    margin-bottom: 2vw;
}
.navbar-product{
    width: 100%;
    display:flex;
    justify-content:center;
 }
 /* -------------text---------------- */
 .text{
    color:white;
    font-size: 6vw;
    font-weight: 780;
  
    line-height: 105px;
    margin-left: 23vw;
}
.text-2{
    color:white;
    margin-left: 23vw;
    font-size: 2vw;
}
@media only screen and (max-width:768px){
    .text{
        color:white;
        font-size: 6vw;
        font-weight: 780;
        line-height: 50px;
        margin-left: 23vw;
    }
    .text-2{
        color:white;
        margin-left: 23vw;
        font-size: 3vw;
    }
}
